
@{
    ViewBag.Title = "UploadDocument";
}

<h2>UploadDocument</h2>

@using (Html.BeginForm("UploadDocument", "Hours", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}

@ViewBag.Message

