@using StorvikProg.Models
@model IEnumerable<StorvikProg.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Prosjekter</h2>

<p>
    @Html.ActionLink("Nytt Prosjekt", "Create")
</p>
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Prosjekt Navn
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            
            @Html.ActionLink(item.Name, "Details", new {id = item.Id})
            
        </td>
    </tr>
}

</table>
